.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: wheat;
    margin-left: 300px;
    height: 100px;
    width: 800px;
    position: fixed;
    font-size: 30px;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(234, 20, 20);
    position: absolute;
    top: 0px;

    left: 0px;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(234, 20, 20);
    
    position: absolute;
    top: 0px;
    right: 0px;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(227, 24, 24);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(210, 37, 37);
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(14, 226, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50px;
    top: 300px;

}
